[core]
  	editor = code --wait
	longpaths = true
	autocrlf = input
    pager = delta
[user]
	name = Vadym Repetskyi
	email = vadym.repetskyi@gmail.com
[diff]
  	tool = vscode
[difftool "vscode"]
  	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  	tool = vscode
    conflictstyle = diff3
[mergetool "vscode"]
  	cmd = code --wait $MERGED
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    colorMoved = default
